.header {
    width: auto;
    height: 60px;
    display: flex;
    gap: 250px;
    margin-top: 50px;
}
.header > span {
    width: 160px;
    height: 60px;
    background: url("../../../public/images/four.png") no-repeat center center;
    background-size: contain;
    margin-top: 14px;
}
.header > h1 {
    padding-left: 10px;
    font-size: 40px;
    margin: 0px;
}

.button_container {
    position: absolute;
    right: 180px;
    bottom: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 6px;
    padding: 5px;
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 360px;
    height:480px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.button_container h3 {
    font-size: 22px;
    margin-bottom: 0px;
    color: #111;
    margin-left:20px;
    width:300px;
    margin-top:20px;
    height:30px;
}

.button_container button {
    padding:0;
    font-size: 14px;
    background-color: #6E6E6E;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    height:66px; width:116px;
}

.button_container button.active {
    background-color: #fff;
    border-color: #444;
    font-weight: bold;
    color: #000;
}
